<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
           
		>
           <!-- xxx testDao = new dao.TestDao() -->
	<bean class="dao.TestDao" id="testDao"></bean>
	<bean id="testBiz" class="biz.TestBiz">
		<property name="dao">
			<ref bean="testDao"/>
		</property>
	</bean>
	<bean id="testLogger" class="Logger.testLogger"></bean>
	<!-- 暂时注销aop切面部分配置，关注焦点回到注入上 -->
	<aop:config proxy-target-class="true">
		<aop:pointcut expression="execution(public * biz..*(..))" id="pointcut"/>
		<aop:aspect ref="testLogger">
			<aop:before method="beforeLogger" pointcut-ref="pointcut"/>
			<aop:after-returning method="afterReturningLogger" pointcut-ref="pointcut"
			returning="result"/>
		</aop:aspect>
	</aop:config>
	<!-- 环绕通知 -->
	<aop:config proxy-target-class="true">
		<aop:pointcut expression="execution(public * biz..*(..))" id="pointcut"/>
		<aop:aspect ref="testLogger">
			<aop:around method="around" pointcut-ref="pointcut"/>
		</aop:aspect>
	</aop:config>	
	<!-- 后置异常 -->
	<!-- 切点引用-->
	<!-- 增强部分 -->
	<aop:config proxy-target-class="true">
		<aop:aspect ref="testLogger">
			<aop:pointcut expression="execution(public * biz..*(..))" id="pointcut"/>
			<aop:after-throwing method="afterThrowing" pointcut-ref="pointcut" throwing="e"/>
			<aop:after method="after" pointcut-ref="pointcut" />
		</aop:aspect>
	</aop:config>
	<!-- 类似finally块的使用 -->
	<!-- 切点引用 -->
	<!-- 增强部分 -->
	<aop:config proxy-target-class="true">
		<aop:aspect ref="testLogger">
			<aop:pointcut expression="execution(public * biz..*(..))" id="pointcut"/>
			<aop:after-throwing method="afterThrowing" pointcut-ref="pointcut" throwing="e"/>
			<aop:after method="after" pointcut-ref="pointcut" />
		</aop:aspect>
	</aop:config>
	<!-- 使用advisor默认原始增强方式 -->
    <aop:config>
    	<aop:aspect ref="testLogger">
    		<aop:pointcut expression="execution(public * biz..*(..))" id="pointcut"/>
    		
    	</aop:aspect>
    </aop:config>
    
<bean id="beforeLogger" class="Logger.BeforeLogger"></bean>
	<bean id="afterLogger" class="Logger.AfterLogger"></bean>
	<bean id="aroundLogger" class="Logger.AroundLogger"></bean>
	<bean id="afterThrowing" class="Logger.AfterThrowingLogger"></bean>
    <aop:config proxy-target-class="true">
    <!-- 通过Schema将POJO的方法指定为增强 -->
    	<aop:pointcut expression="execution(public * biz..*(..))" id="pointcut"/>
    	<aop:advisor advice-ref="beforeLogger" pointcut-ref="pointcut"/>
    	<aop:advisor advice-ref="afterLogger" pointcut-ref="pointcut"/>
    	<aop:advisor advice-ref="aroundLogger" pointcut-ref="pointcut"/>
    	<aop:advisor advice-ref="afterThrowing" pointcut-ref="pointcut" />
    </aop:config>
</beans>
